<header class="header">后台编辑信息平台</header>
<section class="section">
	<header class="sec-header">
		<div class="title inline">增加新闻</div>
		<div class="right">
			<i class="iconfont icon-jiahao2 js-show-tag hide"></i>
			<i class="iconfont icon-jianhao js-hide-tag"></i>
		</div>
	</header>
    <div class="sec-content">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="20%">序号</th>
                    <th width="30%">新闻标题</th>
                    <th width="20%">创建时间</th>
                    <th width="30%" class="td-operate">操作</th>
                </tr>
            </thead>
            <tbody data-data="{{news}}">
                {{#each (parse news)}}
                    <tr>
                        <td>{{add @index}}</td>
                        <td>{{title}}</td>
                        <td>{{formatDate createdAt "YYYY-MM-DD"}}</td>
                        <td class="td-operate">
                            <a class="btn btn-default" href="/input/news?id={{id}}" role="button">编辑</a>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-id="{{id}}" data-type="1">删除</button>                  
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/input/news">新建公司动态</a>
    </div>
</section>
<section class="section">
	<header class="sec-header">
		<div class="title inline">产品信息</div>
		<div class="right">
			<i class="iconfont icon-jiahao2 js-show-tag"></i>
			<i class="iconfont icon-jianhao js-hide-tag hide"></i>
		</div>
	</header>
    <div class="sec-content hide">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="20%">序号</th>
                    <th width="30%">分类名字</th>
                    <th width="30%" class="td-operate">操作</th>
                </tr>
            </thead>
            <tbody data-data="{{type}}">
                {{#each (parse type)}}
                    <tr>
                        <td>{{add @index}}</td>
                        <td>{{typeName}}</td>
                        <td class="td-operate">
                            <a class="btn btn-default" href="/input/type?id={{id}}&typeName={{typeName}}" role="button">编辑分类</a>
                            <a class="btn btn-default" href="/input/type-products?typeId={{id}}" role="button">分类产品详情</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/input/type">新建产品分类</a>
    </div>
</section>
<section class="section">
	<header class="sec-header">
		<div class="title inline">招聘信息</div>
		<div class="right">
			<i class="iconfont icon-jiahao2 js-show-tag"></i>
			<i class="iconfont icon-jianhao js-hide-tag hide"></i>
		</div>
	</header>
    <div class="sec-content hide">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="20%">序号</th>
                    <th width="30%">招聘岗位</th>
                    <th width="20%">招聘地点</th>
                    <th width="30%" class="td-operate">操作</th>
                </tr>
            </thead>
            <tbody data-data="{{offers}}">
                {{#each (parse offers)}}
                    <tr>
                        <td>{{add @index}}</td>
                        <td>{{position}}</td>
                        <td>{{local}}</td>
                        <td class="td-operate">
                            <a class="btn btn-default" href="/input/join?id={{id}}" role="button">编辑</a>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-id="{{id}}" data-type="2">删除</button>                  
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/input/join">新建公司招聘</a>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">温馨提示！！！</h4>
      </div>
      <div class="modal-body">
          <div>您确定要删除这条数据吗？</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <input type="hidden" value="" class="js-delete-type">
        <input type="hidden" value="" class="js-delete-id">
        <button type="button" class="btn btn-primary js-delete-data">确定</button>
      </div>
    </div>
  </div>
</div>
