<header class="header">公司招聘信息</header>
<section class="section common-form">
	<form class="form-horizontal js-put-form">
		<input type="hidden" name="id" value="{{#with offer}}{{id}}{{/with}}">
        <div class="hide js-form-type" data-type="2"></div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">招聘岗位</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="title" placeholder="请输入招聘职位" name="position" {{#with offer}}value="{{position}}"{{/with}}>
			</div>
		</div>
		<div class="form-group">
			<label for="local" class="col-sm-2 control-label">招聘地点</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="local" placeholder="请输入招聘地点" name="local" {{#with offer}}value="{{local}}"{{/with}}>
			</div>
		</div>
        <div class="form-group">
			<label for="contact" class="col-sm-2 control-label">联系方式</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="contact" placeholder="请输入联系方式" name="contact" {{#with offer}}value="{{contact}}"{{/with}}>
			</div>
		</div>
		<div id="toolbar" class="toolbar"></div>
		<div class="gap"></div>
		<div id="editor" class="editor">{{#with offer}}{{{content}}}{{/with}}</div>
		<div class="form-group form-btn">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">保存</button>
				<a href="/admin" class="btn btn-default">取消</a>
			</div>
		</div>
	</form>
</section>
